{% extends "base.html" %}

{% block content %}
<body class="bg-dark">
  <h3 class="text-white text-center my-4">Lista de Ventas</h3>
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-end mb-3">
        <a href="{{ url_for('agregar_venta') }}" class="btn btn-success">Agregar</a>
      </div>
    </div>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Venta ID: </th>
        <th scope="col">Vehículo:</th>
        <th scope="col">Cliente al que fue vendido:</th>
        <th scope="col">Fecha venta:</th>
      </tr>
    </thead>
    <tbody>
        {% for venta, vehiculo, cliente in ventas %}
      <tr>
        <th scope="row">{{ venta.idVenta }}</th>
        <td>{{ vehiculo.marca }} - {{ vehiculo.modelo }} - {{ vehiculo.anio }} </td>
        <td>{{ cliente.nombre }}</td>
        <td>{{ venta.fechaVenta }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock %}
</body>