{% extends "base.html" %}

{% block content %}
<body class="bg-dark">
  
  <h1 class="text-white text-center my-4">Listar Clientes</h1>

<form method="get" action="{{ url_for('cliente') }}" >
  <div class="container">
    <div class="row ">
      <div class="col-md-2">
        <input type="text" class="form-control bg-dark text-white" name="nombre" placeholder="Nombre">
      </div>
      <div class="col-md-2">
        <input type="text" class="form-control bg-dark text-white" name="dpi" placeholder="DPI">
      </div>
      <div class="col-md-8 d-flex justify-content-end mb-3">
        <button class="btn btn-primary me-2" type="submit">Buscar</button>
        <a href="{{ url_for('agregar_cliente') }}" class="btn btn-success" style="margin-left: 10px;">Agregar</a>
      </div>
      
        
      </div>
    </div>
  </div>
</form>

<div class="container mt-4">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre:</th>
        <th scope="col">DPI:</th>
        <th scope="col">Correo:</th>
        <th scope="col">Tel:</th>
        <th scope="col">Acciones:</th>
      </tr>
    </thead>
    <tbody>
      {% if clientes|length == 0 %}
        <tr>
          <td colspan="6" class="text-center">No hay clientes disponibles</td>
        </tr>
      {% else %}
        {% for cliente in clientes %}
          <tr>
            <th scope="row">{{ cliente.idCliente }}</th>
            <td>{{ cliente.nombre }} </td>
            <td>{{ cliente.dpi }} </td>
            <td>{{ cliente.correo }}</td>
            <td>{{ cliente.telefono }}</td>
            <td>
              <a href="{{ url_for('modificar_cliente', id=cliente.idCliente) }}" class="btn btn-info btn-sm">Modificar</a>
              <a href="{{ url_for('eliminar_cliente', id=cliente.idCliente) }}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
          </tr>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>


{% endblock %}
</body>
